<template>
  <div>
    <header class="modal-card-head">
      <p class="modal-card-title">Tabel Sebaran Koordinat</p>
    </header>
    <section class="modal-card-body">
      <b-field grouped>
          <button class="control button is-success" @click="addRow">Tambah Titik Baru</button>
      </b-field>
      <b-field v-for="row in rows">
        <b-field grouped>
          <!-- <span class="control"><button disabled class="button monospace">{{ row.id + 1}}</button></span> -->
          <input class="control input is-expanded monospace" placeholder="Latitude" v-model="row.latitude" type="number" required>
          <input class="control input is-expanded monospace" placeholder="Longitude" v-model="row.longitude" type="number" required>
          <button class="control button is-danger" @click="deleteRow(row.id)">Hapus</button>
        </b-field>
      </b-field>
    </section>
    <footer class="modal-card-foot">
      <button class="control button is-info" @click="openLayerPreviewModal()">Preview Data</button>
      <button class="control button is-success" @click="saveCoordinateList()">Muat ke Peta</button>
      <button class="button" type="button" @click="closeModal()">Batal</button>
    </footer>
    <b-modal
      :active.sync="isLayerPreviewModalOpen"
      :component="LayerPreview">
    </b-modal>
  </div>
</template>

<script>
import turf from 'turf' // eslint-disable-line
import LayerPreview from './LayerPreview.vue'

export default {
  data: function () {
    return  {
      isLayerPreviewModalOpen: false,
      LayerPreview,
      rows: [],
      nextRowId: 0,
    }
  },
  computed: {
    uploadedPoints () {
      return this.$store.getters.getUploadedPoints
    }
  },
  methods: {
    addRow () {
      let newId = this.nextRowId + 1
      this.nextRowId = newId
      this.rows.push({
        id: newId,
        latitude: '',
        longitude: ''
      })
    },
    
    deleteRow (arrayIndex) {
      console.log(arrayIndex)
      this.rows.splice(arrayIndex - 1, 1)
    },
    
    rowsToPoint () {
      if (this.rows.length !== 0) {
        let points = []
        for (let i = this.rows.length - 1; i >= 0; i--) {
          let point = turf.point([
            this.rows[i].longitude,
            this.rows[i].latitude
          ])
          // console.log(JSON.stringify(point))
          points.push(point)
        }
        let fc = turf.featureCollection(points)
        this.$store.dispatch('setUploadedPoints', fc)
      } else {
        this.$dialog.alert('Tabel koordinat kosong.')
        return
      }
    },

    saveCoordinateList () {
      // console.log(this.rows)
      this.rowsToPoint()
      this.$emit('close')
    },

    openLayerPreviewModal () {
      this.rowsToPoint()
      console.log(this.uploadedPoints)
      // this.pointsToPolygon()
      if (this.uploadedPoints.features.length !== 0) {
        this.isLayerPreviewModalOpen = true
      }      
    },

    closeModal () {
      this.$store.dispatch('setUploadedPoints', [])
      this.$emit('close')
    }
  }
}
</script>

<style>
  .monospace {
    font-family: monospace;
  }
</style>
