<template>
  <div>
    <header class="modal-card-head">
      <p class="modal-card-title">Preview Sebaran Koordinat</p>
    </header>
    <section class="modal-card-body">
      <div id="map"></div>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Tutup Dialog</button>
    </footer>
  </div>
</template>

<script>
import L from 'leaflet'
import turf from 'turf'

export default {
  data () {
    return {}
  },
  computed: {
    uploadedPoints () {
      return this.$store.getters.getUploadedPoints
    },
    fullBaseUrl () {
      return this.$store.getters.getFullBaseUrl
    }
  },
  methods: {},
  mounted () {
    const offlineMap = L.tileLayer(this.fullBaseUrl + ':1339/styles/klokantech-basic/{z}/{x}/{y}.png')
    
    const map = L.map('map', {
      center: [-0.8, 118],
      zoom: 5,
      layers: [offlineMap],
      attributionControl: false
    })
    this.map = map

    // LAYER CONTROLS
    L.control.mousePosition({position: 'bottomleft', emptyString: 'Coordinate: Unavailable', separator: ', ', prefix: 'Koordinat: '}).addTo(map)

    // const layerSwitcher = L.control.layers(offlineMap, null, {position: 'topleft', collapsed: true}).addTo(map) // eslint-disable-line
    // this.layerSwitcher = layerSwitcher

    // POINTS LATER
    const pointsLayer = L.geoJson(this.uploadedPoints).addTo(this.map)
    this.map.fitBounds(pointsLayer.getBounds())
  }
}
</script>

<style>
  #map {
    width: 600px;
    height: 600px;
  }
</style>
