<template>  
  <div>
    <header class="modal-card-head">
      <p class="modal-card-title">Daftar Izin dengan Data Peta</p>
    </header>
    <section class="modal-card-body">
      <div v-if="!mapsList">
        <b-table
            :bordered="true"
            :data="mapsList"
            :paginated="isPaginated"
            :per-page="perPage"
            :pagination-simple="isPaginationSimple"
            :default-sort-direction="defaultSortDirection"
            default-sort="id">

            <template scope="props">
              <b-table-column field="id" label="Maps ID" sortable numeric>
                {{ props.row.id }}
              </b-table-column>

              <b-table-column field="izinId" label="Izin ID" sortable>
                {{ props.row.izinId }}
              </b-table-column>

              <b-table-column field="layerIzin" label="Layer Perizinan" sortable>
                {{ hasData(props.row.layerIzin) }}
              </b-table-column>

              <b-table-column field="layerSurvey" label="Layer Data Survey" sortable>
                {{ hasData(props.row.layerSurvey) }}
              </b-table-column>

              <b-table-column field="created_at" label="Tanggal Dibuat" sortable centered>
                <span class="tag is-success">
                    {{ new Date(props.row.created_at).toLocaleDateString('id', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' }) }}
                </span>
              </b-table-column>
              <b-table-column field="open" label="Aksi" sortable>
                <button @click="getSingleMap(props.row.id)" class="button is-small is-info">Muat</button>
              </b-table-column>
            </template>
        </b-table>
      </div>
      <div v-else>
        <p>Tidak ada data spasial di database. Silahkan unggah dan simpan data spasial untuk izin ID yang sesuai.</p>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Ok</button>
    </footer>
  </div>
</template>

<script>
  export default {
    props: ['id'],
    data: function () {
      return {
        isLoading: true,
        isPaginated: true,
        isPaginationSimple: false,
        defaultSortDirection: 'asc',
        perPage: 5,
        singleMap: '',
        mapsList: []
      }
    },
    computed: {},
    methods: {
      openSnackbar (text) {
        this.$snackbar.open(text)
      },
      getMapsList () {
        axios.get('/api/maps').then((response) => {
        console.log(response.data)
          this.openSnackbar('Data telah dimuat dari server.')
          this.mapsList = response.data;
          this.$store.dispatch('setMapsList', response.data)
        }).catch(function (e) {
          console.log(e)
        });
      },
      getSingleMap (mapId) {
        axios.get('/api/maps/' + mapId).then((response) => {
        console.log(response.data)
          this.openSnackbar('Data telah dimuat dari server.')
          this.singleMap = response.data;
          this.$store.dispatch('setCurrentData', response.data)
        }).catch(function (e) {
          console.log(e)
        });
      },
      hasData (data) {
        if (data) {
          return 'Ada'
        } else {
          return 'Tidak Ada'
        }
      },
    },
    mounted () {
      this.getMapsList()
    }
  }
</script>