<template>
  <div>
    <header class="modal-card-head">
      <p class="modal-card-title">Detail Izin</p>
    </header>
    <section class="modal-card-body">
      <b-field label="Tabel Permohonan">
        <table class="table is-bordered is-fullwidth">
          <tbody>
            <tr><td><b>Permohonan ID</b></td><td>{{ currentData.mhnID }}</td></tr>
            <tr><td><b>Tanggal Dibuat</b></td><td>{{ currentData.mhnTgl }}</td></tr>
            <tr><td><b>Nomor Urut</b></td><td>{{ currentData.mhnNoUrutLengkap }}</td></tr>
            <tr><td><b>Nama</b></td><td>{{ currentData.mhnNama }}</td></tr>
            <tr><td><b>Nomor KTP</b></td><td>{{ currentData.mhnNoKtp }}</td></tr>
            <tr><td><b>Alamat</b></td><td>{{ currentData.mhnAlamat }}</td></tr>
          </tbody>
        </table>
      </b-field>
      <b-field label="Tabel Perusahaan" v-if="currentData.perusahaan">
        <table class="table is-bordered is-fullwidth">
          <tbody>
            <tr><td><b>Nama Perusahaan</b></td><td>{{ currentData.perusahaan.perNama }}</td></tr>
            <tr><td><b>Alamat</b></td><td>{{ currentData.perusahaan.perAlamat }}</td></tr>
            <tr><td><b>Nomor Telepon</b></td><td>{{ currentData.perusahaan.perNoTelp }}</td></tr>
          </tbody>
        </table>
      </b-field>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Tutup Dialog</button>
    </footer>
  </div>
</template>

<script>
export default {
  data: function () {
    return {}
  },
  computed: {
    currentData () {
      return this.$store.getters.getCurrentData
    },
    formatContent (content) {
      if (content) {
        return content
      } else {
        return '-'
      }
    }
  }
}
</script>

<style></style>