<template>  
  <div>
    <header class="modal-card-head">
      <p class="modal-card-title">Menyimpan Data Spasial</p>
    </header>
    <section class="modal-card-body">
      <b-field label="ID Permohonan">
        <b-input v-if="this.currentData" v-model="this.currentData.mhnID" icon="content_copy" disabled></b-input>
      </b-field>
      <p class="label">Pilih Kategori Data</p>
      <b-field>
        <b-radio-button v-model="layerType"
          native-value="layerizin"
          type="is-info">
          <b-icon icon="place"></b-icon>
          <span>Data Lokasi Izin</span>
        </b-radio-button>
        <b-radio-button v-model="layerType"
          native-value="layersurvey"
          type="is-info">
          <b-icon icon="check_circle"></b-icon>
          <span>Data Hasil Survey</span>
        </b-radio-button>
      </b-field>
      <br>
      <!-- <b-field label="Pilih Jenis Permohonan">
        <b-select v-model="layerType" placeholder="Pilih Jenis Data Spasial" icon="add_location" expanded required>
          <option value="layerizin">Data Lokasi Izin</option>
          <option value="layersurvey">Data Hasil Survey</option>
        </b-select>
      </b-field> -->
      <button v-bind:class="{'is-loading': isButtonLoading}" class="button is-info" @click="sendToDatabase()">Simpan ke Database</button>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Tutup Dialog</button>
    </footer>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        layerType: '',
        layerIzin: {},
        layerSurvey: {},
        layerOverlap: {},
        layerClear: {},
        layerFile: '',
        isButtonLoading: false
      }
    },
    computed: {
      uploadedLayer () {
        return this.$store.getters.getUploadedLayer
      },
      currentData () {
        return this.$store.getters.getCurrentData
      },
      databaseAction () {
        return this.$store.getters.getDatabaseAction
      }
    },
    methods: {
      openSnackbar (text) {
        this.$snackbar.open(text)
      },
      sendToDatabase () {
        this.isButtonLoading = true
        if (this.databaseAction === 'create') {
          var formData = new FormData()
          formData.append('izinId', this.currentData.mhnID)
          formData.append('layerRevision', 1)
          
          if (this.layerType === 'layerizin') {
            formData.append('layerIzin', JSON.stringify(this.uploadedLayer))
          } else if (this.layerType === 'layersurvey') {
            formData.append('layerSurvey', JSON.stringify(this.uploadedLayer))
          }
          
          axios.post('/api/maps', formData).then((response) => {
            console.log(response.data)
            this.$store.dispatch('setDatabaseAction', 'update')
            this.saveSuccess()
          }).catch(function (e) {
            this.saveFailed(e)
          });
        } else if (this.databaseAction === 'update') {
          let data = {
            layerRevision: this.currentData.map.layerRevision + 1
          }
          
          if (this.layerType === 'layerizin') {
            data['layerIzin'] = JSON.stringify(this.uploadedLayer)
          } else if (this.layerType === 'layersurvey') {
            data['layerSurvey'] = JSON.stringify(this.uploadedLayer)
          }

          axios.patch('/api/maps/' + this.currentData.map.id, data).then((response) => {
            console.log(response.data)
            this.saveSuccess()
          }).catch(function (e) {
            this.saveFailed(e)
          });
        }
        this.isButtonLoading = false
      },
      checkLayerType () {
        return new Promise((resolve, reject) => {
          if (this.layerType === 'layerizin') {
            this.layerIzin = this.uploadedLayer
            this.layerSurvey = this.currentData.map.layerSurvey
          } else if (this.layerType === 'layersurvey') {
            this.layerIzin = this.currentData.map.layerIzin
            this.layerSurvey = this.uploadedLayer
          } else {
            this.$dialog.alert({
              title: 'Jenis Layer Tidak Dipilih',
              message: 'Silahkan pilih jenis layer, apakah <b>Data Lokasi Izin</b> atau <b>Data Hasil Survey</b>.',
              confirmText: 'Ok'
            })
            return
          }
        resolve()
        })
      },
      saveSuccess () {
        this.$dialog.alert({
          title: 'Sukses Menyimpan Data',
          message: 'Data telah disimpan untuk izin dengan ID: ' + this.currentData.mhnID + '.',
          confirmText: 'Ok'
        })
      },
      saveFailed (e) {
        this.$dialog.alert({
          title: 'Gagal Menyimpan Data',
          message: 'Data gagal disimpan. Pesan kesalahan adalah: ' + e + '.',
          confirmText: 'Ok'
        })
      }
    },
    mounted () {}
  }
</script>