<template>
  <div>
    <section class="hero is-fullheight is-default is-bold">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <h1 class="navbar-item">SIMPEL-MapView</h1>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <!-- <a class="navbar-item is-active">
                  Login
                </a> -->
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <div class="column is-5">
              <figure class="image">
                <img src="images/cover.jpg" alt="Description">
              </figure>
            </div>
            <div class="column is-6 is-offset-1">
              <h1 class="title is-2">
                SIMPEL MapView
              </h1>
              <hr>
              <p class="subtitle is-4">
                Aplikasi ini merupakan <i>extension</i> dari SIMPEL (Sistem Informasi Manajemen Perizinan Online) yang berfungsi untuk mengunggah, menampilkan, mengubah, dan mengunduh data spasial yang terikat data permohonan izin.
              </p>
              <p class="subtitle is-4">Akses SIMPEL-MapView dari daftar permohonan izin pada aplikasi SIMPEL.</p>
              <br>
              <p class="has-text-centered">
                <a class="button is-medium is-info is-outlined">
                  Buka SIMPEL
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-foot">
        <div class="container">
          <div class="tabs is-centered">
            <ul>
              <li><a></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
</script>

<style>
</style>